/*
This script was created by Visual Studio on 4/10/2010 at 7:50 PM.
Run this script on [qantaqa\sqlexpress.IbaUnitTest] to make it the same as [QANTAQA\sqlexpress.IBA].
This script performs its actions in the following order:
1. Disable foreign-key constraints.
2. Perform DELETE commands. 
3. Perform UPDATE commands.
4. Perform INSERT commands.
5. Re-enable foreign-key constraints.
Please back up your target database before running this script.
*/
SET NUMERIC_ROUNDABORT OFF
GO
SET XACT_ABORT, ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
/*Pointer used for text / image updates. This might not be needed, but is declared here just in case*/
DECLARE @pv binary(16)
BEGIN TRANSACTION
INSERT INTO [dbo].[Species] ([SpeciesId], [AlphaCode], [CommonName], [ScientificName], [WarningCount]) VALUES (N'00a1c72b-8b7e-4438-bad4-4ea0c7b3d9bc', N'WIFL', N'Willow Flycatcher', N'Empidonax traillii', 10)
INSERT INTO [dbo].[Species] ([SpeciesId], [AlphaCode], [CommonName], [ScientificName], [WarningCount]) VALUES (N'02503ce7-9ff8-44f4-b9d2-2ba42c5d4c46', N'VESP', N'Vesper Sparrow', N'Pooecetes gramineus', 10)
INSERT INTO [dbo].[Species] ([SpeciesId], [AlphaCode], [CommonName], [ScientificName], [WarningCount]) VALUES (N'02e338ce-44c1-4a78-9663-89b3f43d821e', N'KILL', N'Killdeer', N'Charadrius vociferus', 10)
INSERT INTO [dbo].[Species] ([SpeciesId], [AlphaCode], [CommonName], [ScientificName], [WarningCount]) VALUES (N'060f5d1c-9976-405a-ba8c-6adfbf1fc312', N'OCWA', N'Orange-crowned Warbler', N'Vermivora celata', 10)


COMMIT TRANSACTION
select NEWID()





-- Added for Ahats
